@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Hind";
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: -0.15em;
}
